body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.tile {
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

